<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="globalPackagesFolder" value="Packages" />
    <add key="repositoryPath" value="Packages" />
  </config>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="BoardGamesArtifacts" value="https://pkgs.dev.azure.com/SiarheiLinkevich/50d6e80a-d6b1-461f-b2ba-aa07e2362100/_packaging/BoardGamesArtifacts/nuget/v3/index.json" />
    <add key="Project" value="Packages" />
  </packageSources>
  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
  <activePackageSource>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </activePackageSource>
  <!--<packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>-->
  <packageSourceCredentials>
    <BoardGamesArtifacts>
      <add key="Username" value="%AZURE_USER_VARIABLE%" />      
      <add key="Password" value="%AZURE_ARTIFACTS_PAT%" />
    </BoardGamesArtifacts>
  </packageSourceCredentials>
</configuration>