<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.net>
    <defaultProxy enabled="false" useDefaultCredentials="true">
    </defaultProxy>
  </system.net>
  <config>
    <!--<add key="globalPackagesFolder" value="Packages" />-->
    <!--<add key="repositoryPath" value="Packages" />-->
    <!--<add key="globalPackagesFolder" value="c:\NuGet\Packages\" />-->
    <!--<add key="repositoryPath" value="c:\NuGet\Packages\" />-->
  </config>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
</configuration>
